.trigger {
    display: block;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
    position: absolute;
    right: 6px;
    top: 0;
}
.trigger:hover {
    color: var(--character-light-link);
}
.side-bar{
    position: relative;
}
.logo {
    background: rgba(255, 255, 255, 0.3);
    padding : 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ant-menu-item{
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #262626;
    padding: 0 16px;
}
button.ant-btn.ant-btn-text.button-exit{
    position: absolute;
    bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    left: 24px
}
.button-exit .ant-image{
    margin-right: 10px;
}
.shape {
    position: absolute;
    top:50%;
    left: 100%;
    z-index: 10;
}

@media (max-width: 550px) {
    aside.ant-layout-sider.ant-layout-sider-light{
        min-width: 130px !important;
        width: 130px !important;
        position: fixed;
        z-index: 10 ;
        height: 100%;
    }
    .ant-layout-sider-children{
        width: 130px;
    }
    aside.ant-layout-sider.ant-layout-sider-light.ant-layout-sider-collapsed{
        left: -31%;
    }
    .trigger {
        right: 3px;
    }
    .shape {
        display: block;
        top:1%;
    }
    .side-bar li span:first-child,
    .button-exit img{
        display: none;
    }
}
